---
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../components/Navbar.astro";
---
<MainLayout title="Build Tips | ers">
  <Navbar />

  <main class="flex-col">
    <section class="split-section">
      <div class="flex-col">
        <h3>General Build Advice</h3>
        <ul>
          <li>Get Vigor to 60. Just get it to 60. Seriously.</li>
          <li>10 Mind is fine for melee users</li>
          <li>~30 Endurance is fine for most builds</li>
          <li>Pick 1 damage Stat to max:</li>
            <ul>
              <li>Strength</li>
              <li>Dexterity</li>
              <li>Intelligence</li>
              <li>Faith</li>
              <li>Arcane</li>
            </ul>
          <li>After RL125-150, you can choose a second damage stat:</li>
            <ul>
              <li>Strength/Faith (good heals & self-buffs)</li>
              <li>Dexterity/Arcane (good bleed damage/weapons)</li>
              <li>Intelligence/Faith (full caster)</li>
              <li>Strength/Dexterity (Quality)</li>
            </ul>
        </ul>
      </div>

      <div class="flex-col">
        <h3>Making a "Build"</h3>
        <ul>
          <li>What rune level do you plan on ending at?</li>
          <li>Are you planning on doing any PVP (Duels/Invasions)?</li>
          <li>What is your <strong>main</strong> damage stat?</li>
          <li>Will you add a <strong>second</strong> damage stat?</li>
          <li>Which weapons do you plan on using (stat requirements)?</li>
        </ul>
      </div>
    </section>

    <section class="flex-col">
      <h3>Leveling Process for any Build</h3>
      <ol>Pre level 125:
        <li>Strength/Dexterity to minimum for weapon</li>
        <li>Vigor to 40</li>
        <li>Endurance to match needs of armor</li>
        <li>Vigor to 60</li>
        <li>Main damage stat to soft cap</li>
      </ol>
      <p style="padding-top: 1rem;"><strong>NOTE:</strong> Damage from this rune level does 
      <strong>NOT</strong> come from stat investment, it comes from upgrading 
      your weapons!
      </p>
      <p style="padding-bottom: 1rem">Focus on leveling Vigor!</p>
      <ol>Level 125-150:
        <li>Clean up stats (hit soft-caps)</li>
        <li>Choose secondary damage stat & hit soft-cap</li>
      </ol>

    </section>

  </main>
</MainLayout>

<style>
  * {
    --bg: #16141f;
    --muted: #6e6a86;
    --subtle: #908caa;
    --text: #e0def4;
    --love: #eb6f92;
    --gold: #f6c177;
    --rose: #ebbcba;
    --pine: #31748f;
    --foam: #9ccfd8;
    --iris: #c4a7e7;
  }
  .flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  h2 {
    color: var(--rose);
    font-size: 3rem;
  }
  h3 {
    color: var(--love);
    font-size: 2rem;
    text-align: center;
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 2rem;
  }
  .split-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  p {
    color: var(--text);
    font-family: 1.5rem;
  }
  a {
    color: var(--foam);
    text-decoration: none;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cap-list {
    font-size: 1.5rem;
  }
</style>
