---
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../components/Navbar.astro";
---
<MainLayout title="Build Calculator | ers ">
 <h2>Build Calculator</h2>
 <Navbar />

 <main>
   <div id="class-selector-and-image">
     <div>
       <label for="classes">Starting Class:</label>
       <select name="classes" id="classes" onchange="updateView()">
         <option value="confessor">Confessor</option>
         <option value="vagabond">Vagabond</option>
         <option value="samurai">Samurai</option>
         <option value="prisoner">Prisoner</option>
         <option value="warrior">Warrior</option>
         <option value="hero">Hero</option>
         <option value="prophet">Prophet</option>
         <option value="astrologer">Astrologer</option>
         <option value="bandit">Bandit</option>
         <option value="wretch">Wretch</option>
       </select>
     </div>

     <div id="display">
       <img src="/imgs/confessor.webp" id="selected" alt="Class Image">
     </div>

   </div>
   <div id="statTable">
     <table>
       <tr>
         <th>Level</th>
       </tr>
       <tr>
         <th>Vigor</th>
       </tr>
       <tr>
         <th>Mind</th>
       </tr>
       <tr>
         <th>Endurance</th>
       </tr>
       <tr>
         <th>Strength</th>
       </tr>
       <tr>
         <th>Dexterity</th>
       </tr>
       <tr>
         <th>Intelligence</th>
       </tr>
       <tr>
         <th>Faith</th>
       </tr>
       <tr>
         <th>Arcane</th>
       </tr>
     </table>
   </div>
 </main>
</MainLayout>
<script src="../scripts/buildCalculator.js"></script>

<style>
  main {
    display: flex;
    gap: 1rem;
    padding-top: 3rem;
  }

  #class-selector-and-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #selected {
    padding-top: 1rem;
  }

  #statTable {
    height: 100vr;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  th {
    text-align: right;
    padding-inline: 1rem;
    padding-block: .5rem;
  }

  td {
    text-align: center;
  }
</style>
