---
import MainLayout from "../layouts/MainLayout.astro";
import HomeMenu from "../components/HomeMenu.astro";
---
<MainLayout title="ers | Elden Ring Stuff" >
	<h1> ers </h1>
	<h2> Elden Ring Stuff </h2>
	<HomeMenu />
</MainLayout>
