---
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../components/Navbar.astro";
---
<MainLayout title="Stat Breakpoints | ers">
  <Navbar />
  <main class="flex-col">
    <h2>Stat Breakpoints</h2>

    <section>
      <h3>What are breakpoints?</h3>
      <p>Breakpoints are points in stat allocations in which leveling past 
      certain numbers end in 
      <a href="https://en.wikipedia.org/wiki/Diminishing_returns">
        <em>Diminishing Returns</em>
      </a>.
      </p>
      <p> This means that when making an <strong>"optimal/efficient"</strong> 
      build, you should take these points into account.
      </p>
      <p>For example: Leveling Strength from 80 to 82, is <strong>less</strong>
      efficient than leaving it at 80, and using those 2 points elsewhere.
      </p>
      <p style="padding-top: 1rem;">In Elden Ring, the <em>hard</em> cap for <strong>all</strong> stats are 
      99.
      </p>
      <p>Breakpoints are known as <em>soft</em> caps, where leveling past them, 
      results in diminishing returns.
      </p>
    </section>

    <section class="flex-col">
      <h3>Stat Breakpoints/ Soft-Caps</h3>
      <ul class="cap-list">
        <li><strong>Vigor</strong> - 40, 60</li>
        <li><strong>Mind</strong> - 50, 60</li>
        <li><strong>Endurance</strong> - 15, 30, 50</li>
        <li><strong>Strength</strong> - 16, 18, 20, 30, 45, 45, 60, 80</li>
        <li><strong>Dexterity</strong> - 16, 18, 20, 30, 45, 45, 60, 80</li>
        <li><strong>Intelligence</strong> - 20, 30, 45, 50, 60, 80</li>
        <li><strong>Faith</strong> - 20, 30, 45, 50, 60, 80</li>
        <li><strong>Arcane</strong> - 18, 20, 30, 45, 60, 80</li>
      </ul>
    </section>

    <section class="split-section">

      <div class="flex-col">
        <h3>PVP Rune Level Breakpoints</h3>
        <ul>
          <li>125 - Meta rune level for PVP arena duels (Most Competitive)</li>
          <li>150 - Meta rune level for endgame invasions / general PVP</li>
          <li>166 - Able to reach both 150 and 200 rune level brackets</li>
          <li>200 - Popular out-of-meta rune level for PVP (more casual)</li>
        </ul>
      </div>

      <div class="flex-col">
        <h3>Endgame Rune Level</h3>
        <p>Changes depending on:</p>
        <ul>
          <li>How much side (optional) content you do</li>
          <li>How much you <em>"farm"</em> for runes</li>
          <li>How often you die</li>
        </ul>
        <p style="padding-top: 1rem;">Typical endgame rune level is around <strong>130-180</strong>.</p>
      </div>
    </section>

    <section>
    </section>
  </main>
</MainLayout>

<style>
  * {
    --bg: #16141f;
    --muted: #6e6a86;
    --subtle: #908caa;
    --text: #e0def4;
    --love: #eb6f92;
    --gold: #f6c177;
    --rose: #ebbcba;
    --pine: #31748f;
    --foam: #9ccfd8;
    --iris: #c4a7e7;
  }
  .flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  h2 {
    color: var(--rose);
    font-size: 3rem;
  }
  h3 {
    color: var(--love);
    font-size: 2rem;
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 2rem;
  }
  .split-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  p {
    color: var(--text);
    font-family: 1.5rem;
  }
  a {
    color: var(--foam);
    text-decoration: none;
  }
  ul {
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cap-list {
    font-size: 1.5rem;
  }
</style>
