---

---
<ul>
  <li>
    <a href="/ers/build-calculator/">Build Calculator</a>
  </li>
  <li>
    <a href="/ers/stat-breakpoints/">Stat Breakpoints</a>
  </li>
  <li>
    <a href="#" class="disabled">Links</a>
  </li>
</ul>

<style>

  * {
    --text: #e0def4;
    --subtle: #908caa;
    --love: #eb6f92;
    --gold: #f6c177;
    --rose: #ebbcba;
    --pine: #31748f;
    --foam: #9ccfd8;
    --iris: #c4a7e7;
  }
  ul {
    display: flex;
    gap: 2rem;
    padding-top: 1rem;
    list-style: none;
}
  li > a {
    text-decoration: none;
    color: var(--pine);

    &:hover {
      color: var(--gold);
    }

  }
  .disabled {
    color: var(--subtle) !important;
  }
</style>
