---

---
<h1 class="brand"><a href="/ers/">ers</a></h1>
<ul>
  <li>
    <a href="/ers/build-calculator/">Build Calculator</a>
  </li>
  <li>
    <a href="#" class="disabled">Armor</a>
  </li>
  <li>
    <a href="#" class="disabled">Weapons</a>
  </li>
  <li>
    <a href="#" class="disabled">Links</a>
  </li>
</ul>

<style>
  .brand {
    & > a {
      color: white;
      text-decoration: none;
      &:hover {
        color: teal;
      }
    }
  }
  ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}
  li > a {
    text-decoration: none;
    color: teal;

    &:hover {
      color: purple;
    }
  }
  .disabled {
    color: grey !important;
  }
</style>
